body{

    background-color: white;
    width:60%;
    position: absolute;
    left:20%;

}
.sheet{

    position:absolute;
    width:100%;
    top:0%;
    display:none;
    z-index: -1;
    
}
.logo{

    position: relative;
    /* left:20%; */
    padding-top: 1%;
    width:26vw;
    height: auto;
     
}
h5{

    margin: 0px;
    font-size:.7vw;
    margin-top:3px;
    display:inline-block;
    text-align: center;

}
h6{

    font-size: .6vw;
    display:inline-block;
    text-align:center;
    margin-top:5px;
    width:50px;
    margin-right: 1px;
    margin-bottom: 10px;
    /* margin-left: 10px; */ 
    
}
hr{

    margin:0px;
}
div{

    display:inline-block;
    margin-right:10px;

}
.personalInfo{ /* Make this container scale down when on mobile devices*/

    position: relative;
    padding-top:1%;
    width: 32vw;
    display:inline-block;
    /* height:auto; */

}
input{

    font-size: 1vw;
    width:100%;
    margin:0px;
    background-color: transparent;
    border-color: transparent;

}
/* 29 is the magic number DO A CODE REVIEW AFTER THIS SECTION*/

.nameOfPCC{

    width:13vw;

}
.alignC{

    width:3.5vw;

}

.playerC{

    width:13vw;
    
}
.characterLevelC{

    width:15vw;
    
}
.deityC{

    width:5vw;
    
}
.homeC{

    width:9vw;
    
}
.raceC{

    width: 8vw;

}
.genderC{

    width:4vw;

}
.sizeC{

    width:4vw;

}
.weightC{

    width: 6vw;

}
.heightC{

    width: 6vw;

}

/* ATTRIBUTES CONTAINER*/
.attributes{

    /* position:relative; */
    /* top:85%; */
    /* left:22.5%; */
    width: 25%;
    display:inline-block;

}
.attributeTC{

    width:100%;
    
    
}
.atttributeC{

    width:100%;
    
}
.boxT{

    background-color: black;
    color:white;
    text-align: center;
    font-size: .6vw;
    padding-top: 10px;
    font-weight: bold;
    width:3vw;
    height:30px;
    margin-right:2px;
    display:inline-block;

} /* TODO eventually maek all of the input fields align with the titles*/
.attributeInputFields{

    width:12%;
    margin-left: 8px;
    border-color: black;

}
/*hpInit */
.hpInit{
  
    width:25%;
    display:inline-block;
    height: 280px;
    position:relative;
    top:-90%;
    
}
.hpInitInputFields{

    width: 35%;
    border-color: black;
    
}
.hpInitInputFieldsLarge{

    width:96%;
    margin-top: 5%;
    border-color: black;
    
}
.boxTWide{

    background-color: black;
    color:white;
    text-align: center;
    font-size: .6vw;
    padding-top: 10px;
    font-weight: bold;
    width:4vw;
    height:30px;
    margin-right:2px;
    display:inline-block;
    
}
.hpInitInputFieldsSmall{

    width: 16%;
    margin-top:10%;
    border-color:black;

}
/* Find a way to make multiline input fields */
#nonLethal{

    padding-bottom: 20px;
    
}
#hpCurrent{

    padding-bottom: 50px;
    
}
.speedSkills{

    background-color: red;
    height:auto;
    width:45%;
    display:inline-block;
    
}
.speedSkillsInputFields{

    width: 25%;
    border-color:black;
    margin-bottom: 10px;

}
.speedSkillsInputFieldsTall{
/* Make this box taller */
    width:25%;
    border-color:black;
    height:40px;
    display:inline;


}
.speedSkillsInputFieldsSmall{

    width:11%;
    border-color:black;

}
.boxTLong{

    background-color: black;
    color:white;
    text-align: center;
    font-size: 1vw;
    padding-top: 20px;
    font-weight: bold;
    width:100%;
    height:30px;
    margin-right:2px;
    display:inline-block;

}
