body{

background-color: black;

}

img{

    width:60%;
    height:auto;
    position:absolute;
    left:20%;

}
h6{

    margin: 0px;
    font-size:.7vw;
    margin-top:3px;

}
hr{

    margin:0px;

}
div{

    display:inline-block;
    margin-right:10px;

}
.personalInfo{ /* Make this container scale down when on mobile devices*/

    position: absolute;
    left:43.8%;
    top:5%;
    width: 32%;

}
input{

    font-size: 1vw;
    width:100%;   
    background-color: transparent;
    border-color: transparent;

}
/* 29 is the magic number DO A CODE REVIEW AFTER THIS SECTION*/
.nameOfPCC{

    width:13vw;

}
.alignC{

    width:3.5vw;

}

.playerC{

    width:13vw;
    
}
.characterLevelC{

    width:15vw;
    
}
.deityC{

    width:5vw;
    
}
.homeC{

    width:9vw;
    
}
.raceC{

    width: 8vw;

}
.genderC{

    width:4vw

}
.sizeC{

    width:4vw

}